<!DOCTYPE html>
<html>
<head>
  <title>Made with Thimble</title>
</head>
<body>
<div class="container">
  <div class="dropdown">
    <a href='#' data-id='main' data-dropdown-trigger='#dropdown-1' class='btn'>Click me</a>
    <div class='dropdown-menu' id='dropdown-1' data-dropdown>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul data-dynamic>
        <li><a href='#' data-id='{{id}}'>{{text}}</a></li>
      </ul>
    </div>
  </div>
  <div class="dropdown">
    <input type='text' class='input' data-dropdown-trigger="#dropdown-2">
    <ul class="dropdown-menu" id="dropdown-2" data-dropdown>
      <li><a href="#" data-id='2403'>Some names</a></li>
    </ul>
  </div>
</div>
</body>
</html>

